[Unit]
Description=Plex Media Server Docker Compose
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/docker/plex
ExecStart=/usr/bin/docker compose -f /opt/docker/plex/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /opt/docker/plex/docker-compose.yml down
Restart=on-failure
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
